FROM quay.io/soketi/soketi:latest-16-debian

ARG SOKETI_DEFAULT_APP_ID=
ENV SOKETI_DEFAULT_APP_ID=$SOKETI_DEFAULT_APP_ID

ARG SOKETI_DEFAULT_APP_KEY=
ENV SOKETI_DEFAULT_APP_KEY=$SOKETI_DEFAULT_APP_KEY

ARG SOKETI_DEFAULT_APP_SECRET=
ENV SOKETI_DEFAULT_APP_SECRET=$SOKETI_DEFAULT_APP_SECRET

ARG SOKETI_DEBUG=1
ENV SOKETI_DEBUG=$SOKETI_DEBUG
